.bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    div{
        position: relative;
        top: -1vh;
        left: -1vw;
        width: 102vw;
        height: 102vh;
        background:
   /*  linear-gradient(10deg,transparent 20%, $primary 30%, $secondary 30%,transparent 60%), */
    linear-gradient(50deg,transparent 20%, $primary 50%, $secondary 50%,transparent 80%),
    linear-gradient(-10deg,transparent 20%, $primary 50%, $secondary 50%,transparent 80%),
    linear-gradient(110deg, $primary 70%, $secondary 70%);
    filter:blur(2px);
    }
}

.w3-bar{
    color:$light;
}
#root {
    overflow: hidden;
    perspective: 400px;
    height: 100vh;
    position: relative;
    
}
#xiuli {
    transition-timing-function: linear;
    
}
#section1,
#section2,
#section3,
#section4,
#section5,
#section6, {
    width: 60vw;
    min-width:360px;
    height: 70vh;
    position: absolute;
    div{
        color: $light;
    }
    /* background: rgba($secondary,0.1); */
}

.profilepic{
    width:100%;

}

/* DEMO-SPECIFIC STYLES */
.typewriter h2 {
    color: $light;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $action; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end) infinite alternate,
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $action }
  }

  .w3-top, .w3-bottom {
    .w3-button{
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $action !important;
          }
      }  
      
    }
    .w3-button.w3-border:hover{
        border-color: transparent !important;
        border-bottom-color: $action !important;
      }

      .w3-button:hover{
        background-color: transparent !important;
        color: $action !important;
      } 

  

  .full-width{
      width: 100%;
  }

  /* If the screen size is 601px wide or more*/
@media screen and (min-width: 601px) {

  }
  
  /* If the screen size is 600px wide or less*/
  @media screen and (max-width: 600px) {
    .profilepic{
        width:50%;
    }
    #section4 {
        overflow: auto;
    }
    .typewriterline{
        font-size:1rem;
    }
  }

  